<!DOCTYPE html>
<html lang="en" config = xmlns:config="http://www.w3.org/1999/xhtml">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Drinks Inventory</title>
    <link rel="stylesheet" href="..static/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <h2 class="text-center alert alert-success"> Drinks Depot - Inventory</h2>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#newDrinkModal"> Add Drink</button>

                   {%width messages = get_flashed_messages()%}
                    {%if messages%}
                    {%for message in messages%}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                    {%endfor%}
                    {%endif%}
                    {%endwidth%}


                    <div id="newDrinkModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Enter New Drink</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('insert')}}" method="POST">
                                        <div class="form-group">
                                            <label>
                                                Name of Drink
                                            </label>
                                            <input type="text" name="name_of_drink" placeholder="Name of Drink" class="form_control" id="name_of_drink">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Price
                                            </label>
                                            <input type="text" name="price" placeholder="Price in Naira" class="form_control" id="price">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                               Quantity Received
                                            </label>
                                            <input type="text" name="quantity" placeholder="Quantity Received" class="form_control" id="quantity">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                               Expiry Date
                                            </label>
                                            <input type="text" name="expiry_date" placeholder="Expiry Date" class="form_control" id="expiry_date">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Batch Number
                                            </label>
                                            <input type="text" name="batch_no" placeholder="Batch Number" class="form_control" id="batch_no">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Drink Subtype
                                            </label>
                                            <input type="text" name="drink_subtype" placeholder="Drink Subtype" class="form_control" id="drink_subtype">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Add Drink</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <table class="display" style="width: 100%;" id="myTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Expiry Date</th>
                                    <th>Batch No.</th>
                                    <th>Drink Subtype</th>
                                </tr>
                                <tbody>
                                {% for drink in drinks %}
                                    <tr>
                                        <td>{{drink.1}}</td>
                                        <td>{{drink.2}}</td>
                                        <td>{{drink.3}}</td>
                                        <td>{{drink.4}}</td>
                                        <td>{{drink.5}}</td>
                                        <td>{{drink.6}}</td>
                                    </tr>
                                    {% endfor %}
                        </tbody>


                            </thead>

                        </table>
                    </div>
                </div>

            </div>

        </div>

</body>
</html>